#
#  Configuration for Circle CI
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#  ◆ Keep configuration variables for CircleCI that will configure what the Circle CI
#    will do.
#
#  » Documentation from Circle CI ( https://circleci.com/docs/2.0/ )
#

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.6.1
    steps:
      - checkout
      - restore_cache:
          key: v1-german-income-tax-{{ checksum "package.json" }}
      - run:
          name: Installing dependencies
          command: npm install
      - save_cache:
          key: v1-german-income-tax-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Building
          command: npm run build
      - run:
          name: Testing
          command: npm test
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit

workflows:
  version: 2
  build-publish:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
