#
#  Configuration for Circle CI
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#  ◆ Keep configuration variables for CircleCI that will configure what the Circle CI
#    will do.
#
#  » Documentation from Circle CI ( https://circleci.com/docs/2.0/ )
#

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.10.2
    steps:
      - checkout
      - restore_cache:
          key: v1-german-freelance-tax-{{ checksum "package.json" }}
      - run:
          name: Adding NPM Token
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run:
          name: Installing dependencies
          command: npm install
      - save_cache:
          key: v1-german-freelance-tax-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Building
          command: npm run build
      - run:
          name: Testing
          command: npm test
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
  publish:
    docker:
      - image: circleci/node:8.0
    steps:
      - checkout
      - restore_cache:
          key: v1-german-freelance-tax-{{ checksum "package.json" }}
      - run:
          name: Adding NPM Token
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run:
          name: Installing dependencies
          command: npm install
      - save_cache:
          key: v1-german-freelance-tax-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Building
          command: npm run build
      - run:
          name: Adding npm token
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run:
          name: Publishing to npm
          command: npm publish --access restricted

workflows:
  version: 2
  build-publish:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - publish:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
